.orders-container {
  padding: 2rem;
}
.order-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.order-card {
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 12px;
  display: flex;
  align-items: center;
  width: 350px;
  gap: 1rem;
}
.order-img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}
.cancel-btn {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
}
.cancel-btn:hover {
  background-color: #c0392b;
}
